.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
agy-auto-accept.js
release-extension.py
node_modules/typescript/**
node_modules/@types/**
node_modules/esbuild/**
antigravity-sync/**
_backup/**
